<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/35c971e8-0e65-4321-ab5b-1435042e2db8/resourceGroups/DealerAdaptAPI20241030201842ResourceGroup/providers/Microsoft.Web/sites/DealerAdaptAPI20241030201842</ResourceId>
    <ResourceGroup>DealerAdaptAPI20241030201842ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dealeradaptapi20241030201842.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7a229586-f7c6-41d5-af50-be36cb6afdf6</ProjectGuid>
    <MSDeployServiceURL>dealeradaptapi20241030201842.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DealerAdaptAPI20241030201842</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DealerAdaptAPI20241030201842</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/35c971e8-0e65-4321-ab5b-1435042e2db8/resourceGroups/DealerAdaptAPI20241030201842ResourceGroup/providers/Microsoft.ApiManagement/service/DealerAdaptAPIapi/apis/DealerAdaptAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>